body{
  background-color: rgb(247 247 247);
  margin: 0;
}
h4{
  font-size: 1.1em;
}

.content{
  width: 100%;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.contentheader{
  padding: 1% 5%;
  background-image: linear-gradient(to right, #052347 0%, #80c0df 100%);
  color: white;
}

/* YouTube embed */
.video {
	position: relative;
  padding-bottom: 60%;
	height: 0;
  width: 100%;
  margin: 5% auto;
}

.contentbody iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: 0;
}
/* YouTube end */

.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.contentbody{
  padding: 2% 5%;
}


/* PLACEHOLDER CARD STUFF
general card styling */
.card{
  width: 90%;
  float: left;
  background-color: white;
  border-radius: 5px;
  box-shadow:0 4px 8px 1px silver;
  transition: 0.2s;
  margin: 2% auto;
}
.card a{
  text-decoration: none;
}
.card:hover{
  box-shadow:0 8px 20px 0 silver;
}
/* general card styling end */



/* card header styling */
.cardheader{
  background-image: linear-gradient(to right, #052347 0%, #80c0df 100%);
  padding: 2% 3%;
  border-radius: 5px 5px 0 0;
  color: white;
}
.cardheader h5{
  font-size: 1.1em;
  margin: 4%;
}
/* card header end */

/* card body styling */
.cardbody{
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  padding: 2% 3%;
  color: black;
}
.cardbody p{
  margin: 5%;
}
/* all card link styling */
.cardlinks:visited{
  color: inherit;
}
.cardlinks:active{
  color: navy;
}
/* all card link styling end */
/* card body end


/* Top Navigation And Logo Design */

.main-nav
{
	display :none;
}



.logo  img

{
    display:none;

}


/*side nav*/
nav{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 18%;
  padding: 2%;
}
.side-nav-links li{
  list-style: none;
}
.side-nav-links li:hover{
  background-color: #700000;
}
.side-nav-links a{
  color: rgb(247 247 247);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.9em;
  padding: 3.5%;
  width: 90%;
  display: block;
  border-bottom: solid 2px;
}
.side-nav-links a:hover{
  background-color: #700000;
}
.hamburger div{
  width: 25px;
  height: 3px;
  background-color:black;
  opacity: 0.8;
  margin: 5px;
  transition: all 0.5s ease;
}
.side-nav-links{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-color: #8b0000;
    display: flex;
    flex-direction: column;
    width: 70%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
    margin: 0;
    padding: 10%;
    padding-top:2%;
    overflow-y: scroll;
}
.hamburger{
  position: fixed;
  display: block;
  float: inherit;
  width: 35px;
  height: 32px;
  z-index: 2;
  background-color: steelblue;
  border-radius: 100%;
  padding: 1.5%;
  margin-top:85%;
  margin-left: 5%;
  opacity: 0.7;
}


/* Footer nav css section */
.footer {
  background-color: #333;
  margin-bottom: 0;
}

.footer li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.footer li a {

     display: block;
    padding: 0 2px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 3em;
    height: 3em;
    font-size: 0.67em;
    border-bottom: 1px solid #383838;
}
.footer a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background: #f1f1f1;
  color: black;
}

.footer a.active {
  background-color: #0D5973;
  color: white;
}




/* desktop browser query
if the screen exceeds the size (mobile size) then the screen will change
*/
@media screen and (min-width:770px){
  .content{
    width: 70%;
    background-color: white;
    border-radius: 4px;
    box-shadow:0 4px 8px 1px silver;
    transition: 0.2s;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    display: inline-block;
  }
      .main-nav{
        display: block;
    }
  .contentheader{
    padding: 1% 5%;
    background-image: linear-gradient(to right, #052347 0%, #80c0df 100%);
    border-radius: 4px 4px 0 0;
    color: white;
  }
.main-nav
{

  background-color: #333;
  min-height: 54.63px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
    .main-nav li

{
    margin: 10px;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
    }


    .main-nav li a
{

    padding: 0 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 3em;
    height: 3em;
    font-size: 0.67em;
    border-bottom: 1px solid #383838;

}



    .main-nav li a:hover

{
    text-decoration : underline;

}
    .logo    img
{
    display: block;
    width:100px;
    height:auto;
    float: left;
    margin-top: 0%;
    margin-left: 0%;
}

  .video {
  	position: relative;
    padding-bottom: 40%;
  	height: 0;
    width: 70%;
    margin: 5% auto;
  }
  .contentbody iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
    border: 0;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card{
    width: 40%;
    float: left;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 4px 8px 1px silver;
    transition: 0.2s;
    margin: 2% auto;
  }
  .side-nav-links{
    position: relative;
    transform: translateX(0%);
    width: 100%;
    float: left;
    display: inline-block;
    padding:0;
    overflow-y: hidden;
  }
  .hamburger{
    display: none;
  }
  .footer{
    margin-bottom: 2%;
    border-radius: 0 0 4px 4px;
  }
  nav{
    background-color: #8b0000;
  }
}
/* desktop query end */

.nav-active{
  transform: translateX(0%);
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,7px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-7px);
}
